
.my-pagination{
  margin: 10rem 0 13rem 0;
}

.my-pagination .page-numbers {
  background-color: #e8e8e8;
  cursor: pointer;
  padding: 11px 12px;
  color: #3A383F;
  text-decoration: none;
  margin: 0 2px
}

.my-pagination .current {
  background-color: #ec4c9a;
}

