
.my-pagination{
  margin: 10px;
}
.my-pagination .page-numbers {
  background-color: #e8e8e8;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 8px;
  color: #3A383F;
  text-decoration: none;
}

.my-pagination .current {
  background-color: #ec4c9a;
}
