#search-result .search {
  color: #ec4c9a;
  font-size: 4.2rem;
  line-height: 5.5rem;
  margin: 4rem 0 2rem 0;
}

#search-result .result-query {
  color: #575757;
  font-size: 2rem;
}

#search-result .search-name {
  color: #ec4c9a;
  font-size: 2rem;
}

#search-result strong.search-excerpt {

  color: #ec4c9a;
}

#search-result .search-content{
  margin: 2rem 0 2rem 0;
}

#search-result .result-title{
  text-align: center;
}
