#search-result {
  margin: 0 13rem;
}

#search-result .search {
  color: #ec4c9a;
  font-size: 4.5rem;
  line-height: 5.5rem;
  margin: 5rem 0 2rem 0;
}

#search-result .result-query {
  color: #575757;
  font-size: 2rem;
  margin-top: 3rem;
}

#search-result .search-name {
  font-size: 2rem;
}

.post-item {
  margin-top: 25px;
}

.entry-content p {
  font-size: 1.8rem;
}

.entry-content h3 {
  margin-top: 0;
}

#wp-advanced-search {
  margin-bottom: 0;
  width: 85%;
  display: inline-block;
}

#wp-advanced-search .wpas-search_query {
  width: 96%;
  display: inline-block;
}

#wp-advanced-search .wpas-submit {
  width: 2%;
  display: inline-block;
}

.search-box .search-box-container .submit-search-icon {
  display: inline-block;
  vertical-align: middle;
}

#news-and-event #wp-advanced-search  #wpas-submit .wpas-submit{
  border: none;
  vertical-align: middle;
  height: 2rem;
}